doctype html
html(lang='en')
head
    title NTUIOIA Admin
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src = '/instascan.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // meta(name="apple-mobile-web-app-capable" content="yes")
body
    div(class = 'container')
        h2 OIA Admin #{serviceName}
        div(class = 'row')
            div(class = 'col-xs-12')
                div(class = 'embed-responsive embed-responsive-4by3')
                    video(id='preview' playsinline autoplay muted loop)
        h3 Student ID
        div(class="input-group mb-3")
            input(id='id' type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default")
        br
        button(id = 'manualQuery' type="button" class="btn btn-primary") Search
        h3(id = 'name')
        p(id = 'status')
        button(id = 'pass' type="button" class="btn btn-success") Pass
        button(id = 'fail' type="button" class="btn btn-danger") Fail
        br
        h3 Comment History
        p(id='commentLog')
        div(class="input-group mb-3")
            input(id='comment' type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default")
        br
        br
    script.
        var studentData = null;
        let scanner = new Instascan.Scanner({ 
            video: document.getElementById('preview'),
            mirror: false
        });
        scanner.addListener('scan', function (content) {
            // Async query stuff.
            updateInfo(content);
            // console.log(content);
        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                alert(cameras.length);
                scanner.start(cameras[1]);
            // if(cameras[1]){ scanner.start(cameras[1]); } else { scanner.start(cameras[0]); }
            } else {
                alert('No camera found.');
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            alert(e);
            console.error(e);
        });
        function updateInfo(content){
            $.ajax({
                url : '/studentInfo',
                type: 'POST',
                data: {'id': content},
                success: function (data) {
                    // console.log(data);
                    if(data !== null){
                        studentData = data;
                        $('#name').text(data.englishName + ' ' + data.chineseName);
                        $('#id').val(data.id);
                        $('#commentLog').html(data.commentLog);
                        if (data['#{serviceName}']){
                            $('#status').text('Status: Pass');
                        }
                        else {
                            $('#status').text('Status: Fail');
                        }
                    }
                    else{
                        alert('ID not valid.');
                    }
                }
            });
        }
    script.
        $('#manualQuery').on('click', function(){
            let id = $('#id').val();
            updateInfo(id);
        });
        $('#pass').on("click", function(){
            changeStatus(true);
        });
        $('#fail').on("click", function(){
            changeStatus(false);
        });
        function changeStatus(pass){
            let id = studentData.id;
            let comment = $('#comment').val();
            let commentLog = studentData.commentLog;
            if (comment !== '') {
                comment = commentLog + comment + '<br>';
            }
            $.ajax({
                url : '/adminSetProperty',
                type: 'POST',
                data: {
                    'id': id,
                    'serviceName': '#{serviceName}',
                    'password': '#{key}',
                    'verdict': pass,
                    'comment': comment
                },
                success: function(err, response){
                    updateInfo(id);
                    alert('Success');
                    $('#comment').val('');
                }
            });
        }