html
head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src = '/qrcode.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title NTUIOIA Registration
body
    div(class = 'container')
        h2 NTUOIA Exchange Student Registration
        form(id = "loginForm", action = "/studentInfo", method = "POST")
            div
                label(for = "name") Name: 
                input(name = "name")
            br
            div
                label(for = "studentId") Student ID: 
                input(name = "studentId")
            br
            button(type = "submit") Login
    script.
        $('#loginForm').on('submit', function(e) {
            e.preventDefault();
            console.log('prevented');
            let studentId = $("input[name='studentId']").val().toUpperCase();
            $.ajax({
                url : $(this).attr('action'),
                type: $(this).attr('method'),
                data: {'id': studentId},
                success: function (data) {
                    // console.log(data);
                    if(data != null){
                        window.location.href = '\\registration?id=' + studentId;
                    }
                    else{
                        console.log('fail');
                    }
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });